.videos-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); */
  grid-template-columns: auto auto auto auto auto auto auto;
  /* grid-template-rows: max-content; */
  gap: 2rem;
}
.videos-grid .cartoon-card {
  max-width: 160px;
}
@media (max-width: 768px) {
  .videos-grid {
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
  }
}
@media (max-width: 480px) {
  .videos-grid {
    grid-template-columns: auto auto;
    gap: 1rem;
  }
}
