/* ---------- SHIMMER EFFECT (YOUTUBE STYLE) ---------- */

.shimmer-card {
  position: relative;
  overflow: hidden;
  background: #222;
  border-radius: 5px;
  height: 230px;
  width: 100%;
}

.shimmer-box {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #202020 0%,
    #2a2a2a 20%,
    #202020 40%,
    #202020 100%
  );
  background-size: 200% 100%;
  animation: shimmerMove 1.2s linear infinite;
  border-radius: 5px;
}

@keyframes shimmerMove {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
