.top-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: transparent;
  overflow: hidden;
  z-index: 99999;
  /* opacity: 0; */
  transition: opacity 0.2s ease;
}

/* When loader is active */
.top-loader.active {
  opacity: 1;
}

/* YouTube style red shine */
.top-loader .shine {
  position: absolute;
  top: 0;
  left: -200px;
  height: 100%;
  width: 200px;

  /* background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0) 0%,
    rgba(255, 0, 0, 0.8) 50%,
    rgba(255, 0, 0, 0) 100%
  ); */
background: linear-gradient(135deg, #ff6b6b, #4ecdc4);
  animation: ytMove 0.9s linear infinite;
}

/* Move across exactly like YouTube */
@keyframes ytMove {
  0% {
    left: -200px;
  }
  100% {
    left: 100%;
  }
}
