* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #0a0a0a 0%, #1a1a1a 50%, #0f0f0f 100%);
  color: #ffffff;
  /* overflow-x: hidden; */
  height: 100%;
}